<section class="first-view center-vertical">
	<h1>MUSIC SNS!!!</h1>
	<%# ログイン中は見えないようにする%>
	<div><%#class="login_button"%>
		<% if current_user.nil? %>
		    <form class="col-lg-5" action="/signin" method="post">
		        <div class="controls">
		            <div class="form-group">
		                <input class="form-control input-lg" name="name" placeholder="ユーザー名">
		                <input class="form-control input-lg" name="password" type="password" placeholder="パスワード">
		                <input class="form-control " type="submit" value="ログイン">
		            </div>
		                
		        </div>
		    </form>
	    <% end %>
	</div>
</section>

<section class="center-vertical">
	<h1>最新の投稿</h1>
	<% if !@musics.empty? %>
		<% @musics.each do |music| %>
		
			<div class="post center-vertical">
				<img src="<%= music.jacket%>" width="125" height="125">
				<p>artist: <%= music.artist%></p>
				<p>song:<%= music.song%></p>
				<p>コメント:<%= music.comment%></p>
				<p>投稿者: <%= User.find_by(id: music.user_id).name %><br>
				</p>
				<!--
					<a href="#">フォローする</a>
					<a href="#">">フォロー解除</a><br>
				</p>
				<p>いいねしたユーザー<br>
					<img src="" alt="user_image" width="40" height="40">
				</p>
				<a href="#">いいねする</a>-->
			</div>
		<% end %>
	<% else %>
	<%# TODO: ここで分岐 %>
	<p>投稿がありません</p>
	<% end %>
</section>
