<section class="center-vertical">
	<h1>検索フォーム</h1>
	<form action="/search" method="post">
		<input type="text" name="keyword" placeholder="アーティスト名">
		<input type="submit" value="検索">
	</form>
	<% if !@musics.empty? %>
		<h2>検索結果</h2>
			<div class="center-hrizontal">
				<% @musics.each_with_index do |music,i| %>
					<div class="post center-vertical">
						<img src="<%= music["artworkUrl100"]%>">
						<p><%= music["artistName"]%></p>
						<p><%= music["collectionName"]%></p>
						<p><%= music["trackName"]%></p>
						<a href="<%= music["previewUrl"]%>">サンプル</a>
						<form action="/new" method="post">
							<input type="hidden" name="artwork" value="<%= music["artworkUrl100"]%>">
							<input type="hidden" name="artistName" value="<%= music["artistName"]%>">
							<input type="hidden" name="trackName" value="<%= music["trackName"]%>">
							<input type="hidden" name="collectionName" value="<%= music["collectionName"]%>">
							<input type="hidden" name="previewUrl" value="<%= music["previewUrl"]%>">
							<input type="text" name="comment" placeholder="コメント">
							<input type="submit" name="song<%=i+1%>" value="投稿">
						</form>
					</div>
				<% end %>
			</div>
	<% else%>
		<%# TODO: 検索結果によって分岐 %>
		<p>検索結果がありません</p>
	<% end %>
</section>